<!DOCTYPE HTML>

<html>
    <head>
        <title>ML: statistic</title>
    </head>
    <body>
        <div style="text-align: center;" align="center">
            <caption>Statistic of your awesome searching magic in uploaded pictures.</caption><br>
            <center>{{ table }}</center>
            <form id="want_magic" method="get", action="upload">
                <input type="submit" value="Want magic" action="upload">
            </form>
        </div>
    </body>
</html>
